<!DOCTYPE html>
<html>
    <head>
        <title>Giới thiệu bản thân</title>
        <link href="~/css/StyleSheet.css" rel="stylesheet" />
    </head>
    <body>
        <h3>Xin chào, tôi tên là Nguyễn Vũ Tuấn Kiệt.</h3>
        <h3>Hiện giờ tôi đang là sinh viên năm 3 của trường <div class="school">Đại học Công Nghệ Đồng Nai</div></h3>
        <hr>
        <h3>Các môn học tôi đang học cho học kỳ 1 năm nay bao gồm: </h3>
        <table>
            <tr>
                <th>Lập trình Web</th>
            </tr>
            <tr>
                <th>Triết học Mác Lê-nin</th>
            </tr>
            <tr>
                <th>Quản trị hệ thống mạng</th>
            </tr>
            <tr>
                <th>Tiếng anh A2</th>
            </tr>
            <tr>
                <th>Lập trình ADO.NET</th>
            </tr>
            <tr>
                <th>Trí tuệ nhân tạo (AI)</th>
            </tr>
        </table>
        <hr>
        <h3>Và đây là danh sách bài tập của tôi.</h3>
        <table>
            <tr><th>Website cá nhân</th></tr>
            <tr><th>Xây dựng ứng dụng web giới thiệu các<br>thành viên của nhóm dang datagrid</th></tr>
            <tr><th>Hãy thiết kế một số giao diện<br>(Layout) thông dụng</th></tr>
            <tr><th>Hãy xây dưng Class (Model)<br>tương ứng với Table bên CSDL</th></tr>
            <tr><th>Thảo luận nhóm về các mô hình lập trình web,<br>công nghệ lập trình web hiện nay</th></tr>
        </table>
    </body>
</html>